:root {
  --dark-blue: #14213d;
  --blue: #0077b6;
  --light-blue: #8ecae6;
  --grey: #adb5bd;
  --black: #111827;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Monsterrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: start;
  background-color: var(--dark-blue);
  padding: 0.5rem;
}

.header-title {
  font-family: 'Monsterrat';
  font-size: calc(2rem + 1vw);
  color: whitesmoke;
  margin-left: calc(3rem + 2vw);
}

.content {
  display: flex;
  flex: 1 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 0.5);
  height: 100%;
}

.project:first-child {
  margin-top: 1rem;
}

.project {
  display: flex;
  font-family: 'Nunito';
  padding: 1rem;
  user-select: none;
}

.project:hover {
  background-color: var(--light-blue);
}

.project-nav,
.project-length {
  font-size: calc(1rem + 1vw);
}

.project-nav {
  margin-right: 12vw;
}

.project-nav:hover {
  cursor: pointer;
}

.project-name {
  font-size: calc(1rem + 2vh);
  font-family: 'Nunito';
  padding-bottom: 2rem;
}

.footer {
  background-color: var(--dark-blue);
  padding: 0.5rem;
  text-align: center;
}

.footer-text {
  color: whitesmoke;
  font-family: 'Monsterrat';
  font-size: calc(1rem + 1vh);
  margin-left: calc(3rem + 2vw);
}

.article-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: calc(3rem + 4vw);
  padding-top: 3rem;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  font-family: 'Roboto';
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.task-details {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-size: calc(1rem + 0.5vw);
  margin: 0;
}

.add-task-button-container {
  margin-top: 2rem;
}

.add-task-button {
  font-family: 'Open Sans';
  font-weight: lighter;
  display: flex;
  place-items: center;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: var(--grey);
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  padding: 0.75rem;
  padding-left: 0;
  text-align: center;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.add-task-button:hover {
  color: var(--black);
  transition-duration: 0.4s;
}

.add-project-button {
  display: flex;
  place-items: center;
  background-color: var(--black);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  flex: 0 0 auto;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 0.75rem 1.2rem;
  text-align: center;
  text-decoration: none #6b7280 solid;
  text-decoration-thickness: auto;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
}

.add-project-button:hover {
  background-color: white;
  color: var(--black);
  border: 1px solid var(--dark-blue);
  transition-duration: 0.4s;
}

.add-project-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

@media (min-width: 768px) {
  .add-project-button {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
  }
}

.add-project-container {
  margin: 1rem;
}

.add-icon {
  width: 2rem;
  padding-right: 0.5rem;
}

input[type='checkbox'] {
  width: calc(1rem + 0.5vw);
  height: calc(1rem + 0.5vw);
  border-radius: 50%;
  appearance: none;
  background-color: white;
  border: 1px solid var(--dark-blue);
}

input[type='checkbox']:checked {
  background-color: var(--blue);
}

/* TODO: CLEAN UP UNUSED */
