:root {
  --dark-blue: #14213d;
  --blue: #0077b6;
  --light-blue: #8ecae6;
  --grey: #adb5bd;
  --black: #111827;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-VariableFont_wdth\,wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Monsterrat';
  src: url('../fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

@font-face {
  font-family: 'Nunito';
  src: url('../fonts/Nunito-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: start;
  background-color: var(--dark-blue);
  padding: 0.5rem;
}

.header-title {
  font-family: 'Monsterrat';
  font-size: calc(2rem + 1vw);
  color: whitesmoke;
  margin-left: calc(3rem + 2vw);
}

.content {
  display: flex;
  flex: 1 0 auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background-color: rgba(229, 229, 229, 0.5);
  height: 100%;
  width: calc(10rem + 2vw);
}

.project:first-child {
  margin-top: 1rem;
}

.project {
  display: flex;
  font-family: 'Nunito';
  padding: 0.5rem;
  user-select: none;
}

.project:hover {
  background-color: var(--light-blue);
}

.project-nav,
.project-length {
  font-size: calc(1rem + 1vw);
}

.project-length {
  margin-left: auto;
  padding-left: 0.5rem;
}

.project-nav:hover {
  cursor: pointer;
}

.project-name {
  font-size: calc(1rem + 2vh);
  font-family: 'Nunito';
  padding-bottom: 2rem;
}

.footer {
  background-color: var(--dark-blue);
  padding: 0.5rem;
  text-align: center;
}

.footer-text {
  color: whitesmoke;
  font-family: 'Monsterrat';
  font-size: calc(1rem + 1vh);
}

.article-container {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  padding-left: calc(3rem + 4vw);
  padding-top: 3rem;
}

.tasks-container {
  width: 500px;
}

.task-list {
  margin: 0;
  padding: 0;
}

.task {
  display: flex;
  font-family: 'Roboto';
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.task-details {
  display: flex;
  flex-direction: column;
}

.task-title {
  font-size: calc(1rem + 0.5vw);
  margin: 0;
}

.add-task-button-container {
  margin-top: 2rem;
}

#add-task-button {
  font-family: 'Open Sans';
  font-weight: lighter;
  display: flex;
  place-items: center;
  background-color: white;
  border: 1px solid transparent;
  border-radius: 0.75rem;
  box-sizing: border-box;
  color: var(--grey);
  cursor: pointer;
  font-size: 1.125rem;
  padding: 0.75rem;
  padding-left: 0;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  touch-action: manipulation;
}

#add-task-button:hover {
  color: var(--black);
}

#add-project-button {
  display: flex;
  place-items: center;
  background-color: var(--black);
  border: 1px solid transparent;
  border-radius: 0.75rem;
  color: white;
  cursor: pointer;
  font-size: calc(1rem + 0.1vw);
  padding: 0.5rem;
  font-weight: 600;
  text-align: center;
  transition-duration: 0.2s;
  transition-property: background-color, border-color, color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  touch-action: manipulation;
}

#add-project-icon {
  padding: 0;
  width: 30px;
}

#add-project-button:hover {
  background-color: white;
  color: var(--black);
  border: 1px solid var(--dark-blue);
}

#add-project-button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

#add-project-container {
  justify-content: flex-end;
  display: flex;
  margin: 1rem;
}

.add-icon {
  width: 2rem;
  padding-right: 0.5rem;
}

input[type='checkbox'] {
  width: calc(1rem + 0.5vw);
  height: calc(1rem + 0.5vw);
  border-radius: 50%;
  appearance: none;
  background-color: white;
  border: 1px solid var(--dark-blue);
}

input[type='checkbox']:checked {
  background-color: var(--blue);
}

@media screen and (max-width: 500px) {
  .header {
    height: 15px;
  }
  .header-title {
    font-size: 1.2rem;
  }

  .footer {
    height: 15px;
    padding: 0.25rem;
  }
  .footer-text {
    font-size: 1rem;
  }
}

input[type='text'] {
  font-size: 1rem;
  font-family: 'Roboto';
  color: black;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.input-container {
  float: left;
  width: 27.33%;
  margin-top: 4rem;
  position: relative;
}

.text-input {
  border: 1px solid #ccc;
  padding: 7px 14px 9px;
  transition: 0.4s;
}

.text-input ~ .focus-border:before,
.text-input ~ .focus-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--light-blue);
  transition: 0.4s;
}
.text-input ~ .focus-border:after {
  top: auto;
  bottom: 0;
}
.text-input ~ .focus-border i:before,
.text-input ~ .focus-border i:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--light-blue);
  transition: 0.6s;
}
.text-input ~ .focus-border i:after {
  left: auto;
  right: 0;
}
.text-input:focus ~ .focus-border:before,
.text-input:focus ~ .focus-border:after {
  left: 0;
  width: 100%;
  transition: 0.4s;
}
.text-input:focus ~ .focus-border i:before,
.text-input:focus ~ .focus-border i:after {
  top: 0;
  height: 100%;
  transition: 0.6s;
}
