@font-face {
    font-family: "Poiret One";
    src: url('./fonts/PoiretOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
}


.header {
    display: flex;
    font-family: 'Poiret One';
    justify-content: space-around;
    font-size: 5rem;
}